
@font-family {
  src: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
	font-family: 'DM Sans';
}

:root {
	--purple100: hsl(254, 88%, 90%);
	--purple500: hsl(256, 67%, 59%);

	--yellow100: hsl(31, 66%, 93%);
	--yellow500: hsl(39, 100%, 71%);

	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 7%);
}

html {
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--white);
}

.grid-container {
	overflow: hidden;
	display: grid;
	grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem;
	grid-template-rows: 12.5rem 12.5rem 12.5rem;
	gap: 1rem;
	grid-template-areas:
		"box-7 box-1 box-1 box-4"
		"box-7 box-2 box-3 box-4"
		"box-8 box-6 box-5 box-5";
}

.box-1 {
	background-color: hsl(256, 67%, 59%);
}
